<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "https://github.com/isa-group/IDL"
			class = "es.us.isa.idl.idl.IdlPackage"
			genModel = "model/generated/IDL.genmodel" />
	</extension>
</plugin>
